@model TicketsApp.Web.Models.DTO.OrderDto

@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Order history</h1>

<table class="table">
    <thead>
        <tr>
            <th>Order #</th>
            <th>Order ID</th>
            <th>Ordered on</th>
            <th>Total price</th>
            <th></th>
        </tr>
    </thead>
    <tbody> 
        @for (int i = 0; i < Model.Orders.Count; i++)
        {
            var item = Model.Orders[i];
            double price = 0.0;
            @foreach (var ticket in item.TicketsInOrder)
            {
                price += (ticket.Quantity * ticket.Ticket.Price);
            }

            <tr>
                <td>@(i + 1)</td>
                <td>@item.Id</td>
                <td>@item.OrderedOn</td>
                <td>$@price<td>
                <td>
                    <a asp-action="Details" asp-route-orderId="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
