@model TicketsApp.Web.Models.DTO.AddToShoppingCartDto

@{
    ViewData["Title"] = "Add ticket to cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add to shopping cart</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTicketToCart" method="post">
            <input type="hidden" asp-for="TicketId" />
            <div class="form-group">
                <label asp-for="Ticket.Title"></label>
                <input disabled asp-for="Ticket.Title" class="form-control" /> 
            </div>

            <div class="form-group">
                <label asp-for="Ticket.Date"></label>
                <input disabled asp-for="Ticket.Date" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" class="form-control">
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
